<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel - eGPK</title>
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Cal+Sans&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <!-- External CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <!-- Navbar -->
    <div class="navbar">
        <div class="logo">
            <a href="{{ url_for('admin_panel') }}" class="logo-head">eGPK-Admin</a>
        </div>
        <div class="menu-toggle" onclick="toggleMenu()">☰</div>
        <div class="nav-links" id="navLinks">
            <a href="{{ url_for('admin_panel') }}">Home</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>
    </div>
    <!-- Logo Section -->
    <div class="logo-section">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="eGPK Logo" class="egpk-logo">
    </div>    
    <!-- Admin Dashboard -->
    <div class="form-container" style="text-align: center;">
        <h1><u>Admin Dashboard</u></h1>

        <div class="dashboard-box">
                <div class="dashboard-item">
                    <h3>Grievances Addressed :</h3>
                    <p>{{ total_addressed }}</p>
                </div>
                <div class="dashboard-item">
                    <h3>Grievances Pending :</h3>
                    <p>{{ total_pending }}</p>
                </div>
                <div class="dashboard-item">
                    <h3>Grievances In Progress :</h3>
                    <p>{{ total_in_progress }}</p>
                </div>
        </div>
    </div>

        <!-- Buttons Section -->
        <div class="admin-buttons">
                <form action="{{ url_for('admin_grievance_management') }}">
                    <button class="back-home-btn">Grievance Management</button>
                </form>
                <form action="{{ url_for('admin_inbox') }}">
                    <button class="back-home-btn">Inbox</button>
                </form>
                <form action="{{ url_for('admin_account_management') }}">
                    <button class="back-home-btn">Account Management</button>
                </form>
        </div>
        <!-- Small JavaScript for Menu Toggle on Mobile -->
        <script>
            function toggleMenu() {
                var nav = document.getElementById('navLinks');
                nav.classList.toggle('show');
            }
        </script>    
</body>
</html>
